# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:



1.   Matplotlib
2.   Numpy
3.   Pandas
4.   Seaborn
5.   Scikit learn
6.   Tensorflow
7.   Pytorch
8.   Keras

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives of the notebook:

1. Understand basic arithmetic operations in jupyter notebook.
2. Review of the main languages for data science.
3. Review of the main libraries for data science.
4. To give basic format to a Jupyter Notebook.

Key takeaway:

1. Basic operations.
2. Document formating.
3. Create tables.
4. Create lists.
5. Create text and code cells.
6. Write comments in code.

## **Author: Andrew Bocker PÃ¡ez**